body{font-family:Arial;background:#f4f6f9}
.box{max-width:380px;margin:80px auto;background:white;padding:25px;border-radius:10px;text-align:center}
input,button{width:100%;padding:10px;margin-top:10px}
button{background:#0b5ed7;color:white;border:none}
